<%- include('../includes/head', { pageTitle: 'Log In' }) %>
</head>
<body>
    <main>
        <h1>Welcome back! Log In</h1>
        <form action="" method="">

        </form>
    </main>
    <%- include('../includes/footer') %>
</body>
