<%- include('../includes/head', { pageTitle: 'Sign Up' }) %>
</head>
<body>
    <main>
        <h1>Welcome! Create your account</h1>
        <form action="" method="">

        </form>
    </main>
    <%- include('../includes/footer') %>
</body>
